$radius: 30px;


.userChatbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border:solid;
    border-width: 1px 0 0 0;
    border-color: gray;
    outline: none;
    resize: none;
    padding-top:10px;
    padding-bottom:10px;
}

.userAvatar{
    width:15%;
    margin-left: 10px;

}

.homeChat{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    height:100px;
}

.homeChat > textarea{
    border: none;
    border-bottom: gray;
    width:95%;
    height:80%; 
    border-left:none;
    border-right:none;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 20px;
    outline: none;
    resize:none;
}

.homeChat > input{
    width: 15%;
    margin-left: 78%;
    background-color: #1DA1F2;
    border-radius: 15%;
    box-sizing: initial !important;
    border-top-left-radius: $radius $radius ;
    border-top-right-radius: $radius $radius;
    border-bottom-left-radius: $radius $radius;
    border-bottom-right-radius: $radius $radius;   
}


// .chatdisplay{
//     position:absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     width: 200px;
//     height: 200px
// }
