


.chatbox{
    width:100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.chatbox > textarea{
    border: none;
    border-bottom: gray;
}

.chatbox > input{
    width: 10%;
    margin-left: 85%;
    background-color: #1DA1F2;
}


.chatdisplay{
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 200px
}

.navChatBox{
    opacity: 1;
}