

.feed{
    padding: 1% 2% 1% 2%;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: grey;
    display: flex;
    flex-direction: column;
}

.feedHeader{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.userInfo{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.userInfo > div{
    margin-left: 10px;
}

.followBtn{
    width:15%;

}
.feedContent{
    padding-left: 13%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.feedContent > div{
    margin-bottom: 15px;
}

.feedContent > button {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.followContainer{
    position:relative;
    top: -23px;
    width: 150px;
    height: 35px;
    background-color: lightgrey;
    display: flex;
    align-items: center
}

.followContainer > button{
    width: 100px;
    margin-left: 25px
}