$radius: 30px;
.footer > form{
    width:100%
}
.footer > form > input {
    width: 85%;
    height: 35px;
    font-size: 20px;
    padding-left: 30px;
    border-style: solid;
    border-top-left-radius: $radius $radius ;
    border-top-right-radius: $radius $radius;
    border-bottom-left-radius: $radius $radius;
    border-bottom-right-radius: $radius $radius;       
    margin-top: 5%;
    outline: none;
}

.project{
    width: 95%;
    border: 1px solid gray;
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
    margin:0;

}
.project > h4 {
    text-align: center;
    margin-bottom: 10px;
}
.project>p{
    padding-left: 5px;
    font-size: 13px;
}

.project > a  {
    margin-bottom: 10px;
    width:100%
}