



.chatbtn{
    width: 100px;
    height: 30px;
    background-color: #1DA1F2;
    color: white;
    font-size: 16px;
    border-radius: 15%;
    align-items: center;
    border: none;
    margin-top: 2em
}

.chatbtn:hover{
    background-color: #0d99f0;
}

.navlinks{
    height: 70%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;

}


.navoptions{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;

}

.navoptions > a{
    text-decoration: none;
    color:white;
    padding-left:1em;
}



.sessionBtn{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin-bottom: 1em;
}

.chatmodal{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.chatmodalOpen{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(139, 139, 139, 0.5);
    // background-color: grey;
    // opacity: 0.5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navChatBox{
    width:38%;
    height:50%;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
}

.navChatBox > button{
    margin-left: 80%;
    font-size: 1em;
    cursor: pointer;
    margin-top: 2%
}

.navbarChat {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.navbarChat > textarea{
    height:80%;
    border-left:none;
    border-right: none;
}

.navbarChat > input {
    cursor: pointer;
    background-color: #1DA1F2;
    border-radius: 15%;
    width:20%;
    margin-left:78%;
    margin-top: 2%
}

.logoutDisplay{
    border: solid;
    border-width: 1px;
    border-color: gray;
    height: 70px;
    width: 170px;
    position: absolute;
    bottom: 60px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.logoutDisplay > div {
    border-bottom: inherit;
    border-width: inherit;
    border-color: inherit;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}