

.splash{
    background-image: image_url('splash.png');
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    height: 95vh;
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}

.splash > div{
    width:100%;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 50%;
    height: 90%;
    padding-left: 2.5%;
    padding-top: 6%;
}

.splash > div >h1{
    font-size: 64px;
    margin-bottom: 15px;
}
.splash > div >h3{
    font-size: 36px;
}

.splash > div > div > h5 > a {
    cursor: pointer;
    color: rgb(27, 149, 224);
}